<h2>店情報編集</h2>

  <%= form_with model: @shop, url:admin_shop_path(@shop.id) do |f| %>
    <h4>店名</h4>
    <%= f.text_field :name %>
     <%= f.submit '変更を保存', class:"btn btn-success" %>
  <% end %>
  
 