<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto mt-5">
      <h1>welcome to <strong>抹茶の会</strong>  !!</span></h1>
      <p><span class="glyphicon glyphicon-book"></span><strong></strong>, </p>
      <p>あなたの日常を彩る</p>
      <p><strong>抹茶スイーツ</strong></p>
      <p><strong>誰と・どこで・どんな場面で</strong></p>
      <p>楽しみたいですか？</span></p>
      <p>あなたの<strong>お気に入り</strong>が見つかります !</span></p>
      <p><strong>そして</strong></span></p>
      <p>あなたの<strong>お気に入り</strong>を教えてください !</span></p>
    </div>
  </div>
  <div class="row">
    <div class="col-2 offset-4">
      <a class="btn btn-info" style="width:100%" href="/users/sign_in">ログイン</a>
    </div>
    <div class="col-2">
      <a class="btn btn-success" style="width:100%" href="/users/sign_up">新規登録</a>
    </div>
  </div>
</div>