<h1>マイページ</h1>
<p><%= link_to "抹茶日記を書く", new_diary_path %></p>
<p><%= link_to "抹茶日記一覧", diaries_path %></p>
<p><%= link_to "会員登録情報", edit_user_path(@user.id) %></p>
<p><%= link_to '退会する', users_unsubscribe_path %></p>
